@page "/DichotomyMethod"

<h3>МЕТОД ДИХОТОМИИ</h3>

<label>ε =</label>
<input type="text" @bind-value="_stopCondition" />
<button @onclick="ExecuteMethod">Execute method</button>

<div>
    <label>Точка минимума (x*): @_minX</label>
</div>
<div>
    <label>Минимум (f*): @_minF</label>
</div>
<div>
    <label>Число итераций: @_numberIterations</label>
</div>

@code {
    private double _leftBorderSegment = 0.3;
    private double _rightBorderSegment = 2.0;

    private double _stopCondition = 0.0;

    private int _numberIterations = 0;

    private double _minX;
    private double _minF;

    private double x1;
    private double x2;

    private static double Function(double x)
    {
        return x * Math.Sqrt(Math.Pow(x, 3) + 1) - Math.Pow(x, 2);
    }

    private void ExecuteMethod()
    {
        _numberIterations = 0;
        _minX = 0;
        _minF = 0;

        _leftBorderSegment = 0.3;
        _rightBorderSegment = 2.0;

        var delta = _stopCondition;
        var epsN = (_rightBorderSegment - _leftBorderSegment) / 2;

        while (epsN > _stopCondition)
        {
            _numberIterations++;
                           
            x1 = (_leftBorderSegment + _rightBorderSegment - delta) / 2;
            x2 = (_leftBorderSegment + _rightBorderSegment + delta) / 2;

            if (Function(x1) <= Function(x2))
            {
                _rightBorderSegment = x2;
            }
            else
            {
                _leftBorderSegment = x1;
            }
            epsN = (_rightBorderSegment - _leftBorderSegment) / 2;
        }
        _minX = (_leftBorderSegment + _rightBorderSegment) / 2;
        _minF = Function(_minX);
    }
}
